[general]
mail=your-email@example.org
start_date=1970/12/31

[blogsettings]
xmlrpc_endpoint=http://example.org/xmlrpc.php
blog_id=0
username=john_doe
password=correcthorsebatterystaple
participants_page_id=23
